* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f0f0f0
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
a:hover{
	color: #000;
}

tr{
	text-align: center;
}
td{
	max-width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}