.my_container {
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid #ccc;
	border-radius: 8%;
	margin: 25px 5% 0 0;
	animation: reviewBox 3s;
}
#my-review-box{
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
}

.review_picture {
	width: 280px;
	height: 180px;
	margin: 10px;
	border-radius: 8%;
	
}
.review_picture img{
	width: 100%;
	height: 100%;
	border-radius: 8%;
	object-fit: cover;
}

.Row {
	display: flex;
	flex-direction: row;
	
}
.about_story{
	width: 300px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.about_story h2{
	margin-top: 28px;
	font-size: 24px;
	font-weight: 900;
}

.content_text{
	width: 250px;
	height: 100px;
	margin-bottom: 20px;
}
.content_text p{
	width: 100%;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.content_text p p{
	width: 100%;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.content_text p p p{
	width: 100%;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.content_text div div{
	display: none;
}

.username{
	flex-direction: row-reverse;
}
.rate {
	display: flex;
	justify-content: space-between;
}
.rate p{
	font-size: 14px;
}
.rate span{
	font-size: 16px;
	font-weight: 600
}
